.container{
  text-align: center;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

#value{
  font-size: 6rem;
  font-weight: bold;
}
.btn{
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 5px;
  margin:0.5 rem;
  text-transform: uppercase;
  cursor:pointer;
}

.btn:hover{
  color:white;
  background: burlywood;
}